@import '../../styles/functions';
@import '../../styles/variables';

.Price {
  background-color: $light-grey-3;
  display: flex;
  padding: rem(20px);
}

.Price__full,
.Price__month {
  padding: rem(20px);
  flex: 1 0 50%;
  max-width: 50%;

  .Price--single & {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.Price__full {
  border-right: rem(1px) solid $light-grey-1;

  .Price--single & {
    border: none;
  }
}

.Price__value {
  color: $red;
  font-size: rem(32px);
  font-weight: 700;
}
