// Colors

$yellow: #ffd055;
$green: #00596a;
$light-grey-1: #ccc;
$light-grey-2: #d8d8d8;
$light-grey-3: #f4f4f4;

// Type

$font-size-base: 16px;

// Star

$star-color-inactive: $light-grey-2;
$star-color-active: $yellow;

// Option

$option-outer-border-color: $green;
$option-inner-border-color: $light-grey-1;
$option-inner-bg-color: $light-grey-3;
