@import '../../styles/functions';
@import '../../styles/variables';

.Product {
  display: flex;
  flex-wrap: wrap;
  padding: rem(40px);
}

.Product__summary,
.Product__gallery {
  flex: 1 0 100%;
  width: 100%;
}

.Product__summary {
  order: 1;

  @media (min-width: $breakpoint-md) {
    flex: 1 0 58.33333333%;
    max-width: 58.33333333%;
    order: 2;
  }

  @media (min-width: $breakpoint-lg) {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.Product__gallery {
  align-items: flex-start;
  display: flex;
  order: 2;
  justify-content: center;

  @media (min-width: $breakpoint-md) {
    flex: 1 0 41.66666667%;
    max-width: 41.66666667%;
    order: 1;
  }

  @media (min-width: $breakpoint-lg) {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.Product__image {
  max-width: 50%;
  width: 50%;
  height: auto;
}

.Product__name {
  font-size: $font-size-h1;
  font-weight: 300;
  margin: 0 0 rem(30px);
}

.Product__description {
  margin-bottom: rem(50px);
}

.Product__options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: rem(60px);

  @media (min-width: $breakpoint-md) {
    margin-bottom: rem(110px);
  }
}

.Product__optionsItem {
  flex: 1 0 100%;
  margin-bottom: rem(16px);
  width: 100%;

  @media (min-width: $breakpoint-md) {
    flex: 1 0 50%;
    margin-bottom: 0;
    max-width: 50%;
  }
}

// Only display content to screen readers
.Product__optionsColourName {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.Main {
  min-height: 100vh;
}

.Main--hasMessage {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Main__message {
  text-align: center;
}
