@import '../../styles/functions';
@import '../../styles/variables';

.Product {
  display: flex;
  padding: rem(40px);
}

.Product__summary,
.Product__gallery {
  flex: 1 0 50%;
  max-width: 50%;
}

.Product__gallery {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.Product__image {
  max-width: 50%;
}

.Product__name {
  font-size: $font-size-h1;
  font-weight: 300;
  margin: 0 0 rem(30px);
}

.Product__description {
  margin-bottom: rem(50px);
}

.Product__options {
  display: flex;
  list-style: none;
  margin-bottom: rem(110px);
}

.Product__optionsItem {
  flex: 1 0 50%;
  max-width: 50%;
}

.Main {
  min-height: 100vh;
}

.Main--hasMessage {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Main__message {
  text-align: center;
}
