@import '../../styles/variables';
@import '../../styles/functions';

.Option {
  border: rem(2px) solid transparent;
  border-radius: 25%;
  display: inline-flex;
  list-style: none;
  padding: rem(5px);
}

.Option--active {
  border-color: $option-outer-border-color;
}

.Option__action {
  -webkit-appearance: none;
  appearance: none;
  align-items: center;
  background-color: $option-inner-bg-color;
  border: rem(1px) solid $option-inner-border-color;
  border-radius: 20%;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: none;
  overflow: hidden;
  height: rem(46px);
  position: relative;
  width: rem(46px);

  .Option--color &::after {
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba($black, 0.3)
    );
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
